.change-password {
  width: 1000px;

  .change-password-container {
    width: 560px;

    .change-password-note {
      margin-bottom: 16px;
    }

    .change-password-item {
      margin-bottom: 20px;
    }

    .forget-password {
      font-size: 14px;
      color: rgb(115, 115, 115);
      margin-bottom: 36px;
      margin-top: -8px;
    }

    .update-button {
      width: 100%;
    }
  }
}