.page-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    .MuiSvgIcon-fontSizeMedium {
        font-size: 48px;
        margin-right: 12px;
        background-color: white;
        padding: 8px;
        border-radius: 50%;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        color: #1E3461;
    }
    .text-current {
        font-size: 24px;
        font-weight: 500;
        color: #1E3461;
    }
    .text-previous {
        font-size: 24px;
        font-weight: 400;
        color: rgb(52, 52, 52);
    }
}