.helper-page {
  width: 1000px;

  .css-o4b71y-MuiAccordionSummary-content {
    p {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .css-15v22id-MuiAccordionDetails-root {
    p {
      font-size: 16px;
      font-weight: 400;
      color: #000000;
    }
  }
}