.user-info {
  width: 1000px;
  margin-bottom: 100px;

  .page-info-container {
    width: 100%;
    height: 168px;
    padding: 18px;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    display: flex;
    margin-bottom: 24px;

    .info-avatar {
      margin-right: 24px;

      .info-avatar-wrap {
        position: relative;
        height: 132px;
        width: 132px;

        .update-button {
          width: 24px;
          height: 24px;
          color: #383838;
          font-size: 12px;
          background-color: #ffffff;
          position: absolute;
          bottom: -8px;
          right: -8px;
          border-radius: 4px;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        }
      }

      .upload-button {
        height: 132px;
        width: 132px;
        background-color: #efefef;
        border: 2px dashed #cccccc;
        color: #383838;
        font-size: 12px;
        text-transform: none;
      }
    }

    .info-wrap {
      width: 100%;

      .info-header {
        display: flex;
        width: 100%;
        padding: 0 0 4px 0;
        margin-bottom: 12px;
        border-bottom: 1px solid #cccccc;

        .user-name-sex {
          display: flex;
          width: 50%;

          .user-name {
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
            margin-right: 12px;
          }

          .user-sex {
            display: flex;
            align-items: center;
            font-size: 16px;
            color: #00a2ff;
          }
        }

        .user-national {
          display: flex;
          width: 50%;
          align-items: center;
          font-size: 20px;
          font-weight: 500;
          text-transform: uppercase;

          img {
            width: 30px;
            height: 20px;
            object-fit: cover;
            margin-right: 12px;
          }

        }
      }

      .info-body {
        display: flex;

        .info-body-wrap {
          width: 50%;

          .user-info-item {
            display: flex;
            align-items: flex-end;
            font-size: 16px;

            span {
              margin-right: 10px;
              white-space: pre;
            }

            .item-detail {
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              display: -webkit-box;

            }
          }
        }
      }
    }
  }

  .page-edit-container {
    width: 100%;
    padding: 0 18px;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    height: max-content;

    .edit-header {
      margin-bottom: 36px;
    }

    .navbar-edit {
      font-size: 16px;
      color: #000000;
      font-weight: 400;
      margin-right: 28px;
    }

    .navbar-edit-active {
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      margin-right: 28px;
      border-bottom: 2px solid #0078d4;
    }

    .edit-body {
      display: flex;
      justify-content: center;
    }
  }
}