.booking-patient-item {
    width: 100%;
    height: 92px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 8px;
    margin-bottom: 12px;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
        transform: scale(0.97);
    }

    .booking-patient-info {
        height: 100%;
        display: flex;
        margin-left: 16px;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;

        .booking-patient-name {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 500;
        }

        .booking-patient-time {
            font-size: 16px;
            font-weight: 400;
        }

        .booking-patient-status {
            font-size: 16px;
            font-weight: 500;
        }
    }
}