.user-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.user-main-container {
  width: 624px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;

  .user-main-detail {
    width: calc(50% - 12px);
    label {
      font-family: 'Roboto', sans-serif !important;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.update-button {
  button {
    margin: 32px auto 0px;
  }
}

.update-other-button {
  button {
    margin: 224px auto 0px;
  }
}

.css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 4px !important;
}