.healthinfo-page {
    width: 100%;

    .healthinfo-wrap {
        padding-bottom: 20px;
        border-bottom: 1px solid #cccccc;
        margin-bottom: 24px;

        .healthinfo-title {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .healthinfo-body {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            .healthinfo-body-item {
                display: flex;
                align-items: center;
                color: rgb(50, 49, 48);
                margin-bottom: 20px;

                label {
                    font-weight: 400;
                }

                .surival-index-input {
                    margin: 0 8px;
                    max-width: 100px;
                }
            }
        }
    }

    .width-25 {
        width: calc(25% - 12px);
    }

    .width-50 {
        width: calc(50% - 6px);
    }

    .width-100 {
        width: 100%;
    }
}