.user-appointment {
  width: 1000px;
  margin-bottom: 100px;

  .appointment-container {
    width: 100%;
    gap: 24px;
    display: flex;

    .list-appointment {
      width: calc(50% - 12px);
      height: 800px;
      background-color: white;
      border-radius: 12px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
      padding: 20px 32px;
      position: relative;

      .booking-new-appointment {
        position: absolute;
        bottom: 20px;
        right: 32px;
      }

      .list-appointment-wrap {
        height: 612px;
        overflow: auto;
        padding: 4px;
        border-bottom: 2px solid #bcbcbc;

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-track {
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: transparent;
          border-radius: 0px;
        }

        &:hover::-webkit-scrollbar {
          width: 4px;
        }

        &:hover::-webkit-scrollbar-track {
          background: rgb(211, 211, 211);
        }

        &:hover::-webkit-scrollbar-thumb {
          background-color: #bcbcbc;
          border-radius: 20px;
        }

        .no-appointment {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      }
    }

    .list-appointment-right {
      width: calc(50% - 12px);

      .list-appointment-detail {
        height: max-content;
        min-height: 616px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        padding: 20px 32px;
        margin-bottom: 20px;

        .list-appointment-wrap {
          .no-list-appointment {
            min-height: 500px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
        }
      }

      .appointment-hotline {
        font-size: 14px;
        font-style: italic;
        display: flex;
      }
    }

    .appointment-title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 12px;
    }

    .appointment-sub-title {
      margin-bottom: 12px;
    }
  }
}